
```{=html}
<% for (const item of items) { %>

  <h2><%- item.category %></h2>
  
  <p><%- item.description %></p>
  
  <div class="list grid" style="column-gap: 10px;">
    <% for (const tile of item.tiles) { %>
      <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2">
        <div class="card-header py-1 px-2 bg-light">
          <a href="<%- tile.href %>" class="listing-title"><%= tile.title %></a>
        </div>
        <a href="<%- tile.href %>">
          <img src="<%- tile.thumbnail %>" alt="<%- tile.title %>" class="card-img-top"/>
        </a>
      </div>
    <% } %>
  </div>
<% } %>
```